<div class="row">
  <aside class="col-xs-4">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @user.name %></h3>
    </div>
    <div class="panel-body">
      
    </div>
    <%= link_to '混み具合を報告', new_post_path %>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">自分の投稿</a></li>
    </ul>
  </div>
</div>