<% if logged_in? %>
  <P>ログイン完了ユーザ: <%= current_user.name %></P>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>HI RU MA CHI</h1>
      <%= link_to '会員登録', signup_path, class: 'btn  btn-lg btn-primary' %>
    </div>
  </div>
<% end %>