/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @charset "utf-8";
 
 body {
  color: black;
  background-color: white;
  font-size: 15px;
 }
 
 footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
 }
 
 menu {
     padding: 0;
     color: #333;
     font-size: 20px;
     text-align: center;
 }
 
 ul {
     list-style: none;
     padding: 0;
     text-align: left;
 }
 
 h2 {
  font-size: 19px;
 }
 /*
 li {
     margin-bottom: 10px;
 }
 */
 p {
  /*
     display: block;
     padding: 0;
     background-color: #99FF99;
     color: #fff;
     text-decoration: none;
     text-align: center;
     */
      float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
 }
 
 #list {
  font-size: 16px;
 }
 
 image {
  width: 30px;
  height: 30px;
 }

.disc {
 text-align: center;
}